body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }
  
  .sidebar {

      align-items: center;
    margin: 0;
    padding: 0;
    width: 300px;
    background-color:white;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  

  
  div.content {
    margin-left: 300px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

  .avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.hr.style1{
	border-top: 1px solid #8c8b8b;
}

.textContainer{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.textContainer div{
  width: 26%;
  height: 4em;
  box-sizing: border-box;
  margin-right: 4%;
  margin-bottom: 4em;


}

.container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
 
}
.container div {
  width: 50%;
  height: 10em;
  margin-right: 1%;
  margin-bottom: 6em;
  box-sizing: border-box;
}

.container div:nth-child(4n+4) {
  margin-right:2px;
}