<div class="sidebar">
  <div class="p-4" > 
    <input type="text" class="form-control" placeholder="Search.." (change)="filter_Users($event)"   >
    <i class="bi bi-sort-up"></i>
  </div>
  <div class="d-flex flex-row p-3 card" *ngFor = "let user of filterUsers">
     <img  src="/assets/images/images.png" alt="Avatar" class="avatar">  
     <div class="pl-2 "><p>{{user.name}}</p>
      <p>{{user.username}}</p>
      <p>{{user.email}}</p></div>
  </div>
</div>
<div class="content shadow-lg">
<h1 class='text-center'>{{title}}</h1>
<div class="container-fluid bg-light">
  <h1>Albums</h1>
    <div class="col textContainer"> <div class="flex-col" *ngFor = "let album of albums"  >
      <input type="checkbox" name="select_photos"  aria-label="hello" class="mt-2" (change)="filter_Photos(album.id, $event)" >
       <label for="" class="p-1">{{album.title}}</label>
       <span>{{this.getPhotosCounts(album.id)}} photos</span>
     </div>
</div>
<div class="container-fluid shadow-lg">
<div class="container bg-light  mt-4">
  <div class="cards p-4" style="width: 10rem;" *ngFor = "let photo of filterPhotos">
    <a href="" target="_blank">
      <img alt=""  src="{{ photo.thumbnailUrl }}">
    </a>
   <span class="d-inline-block text-truncate  mt-2" style="max-width: 100px;">{{photo.title}}</span> 
  
  </div>
</div>
</div>

 
